/**
 * Created by Adelchi on 28/03/2020.
 */
.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.grab {cursor: grab;}

.grabbing {cursor: grabbing;}

.close{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

.slds-color-picker__summary-input{
    display: none;
}

.close{
    display: none;
}

.open{
    display: block;
}

.transparent{
    background-color: transparent;
    border-color: transparent;
}

.back{
    background-color: #b0c4df;
    border-color: #b0c4df;
}

.scroll {
    height:150px;
    overflow-y: scroll;
}