/**
 * Created by Adelchi on 28/03/2020.
 */
.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.grab {cursor: grab;}

.grabbing {cursor: grabbing;}

.close{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

.slds-color-picker__summary-input{
    display: none;
}

.styled{

}